*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
html,body{

}
body{
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
a{
  font-family: 'Permanent Marker';
  font-size: 20px;
  text-decoration: none;
}
h1,h2,span{
  font-family: 'Permanent Marker', cursive, '微軟正黑體';
}

/* layout 通用設定 */
.wrapper{
 display: flex; 
 flex-wrap: wrap;
 justify-content: center;
 background-color: #f0eeef;
}
section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.rounded {
  border-radius: .55rem;
}
color-red: #AE1100;
color-bg: #f0eeef;
color-shadow: #d6d4d5;
color-white: #FFF;
p, input, select, textarea, {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
}
button {
  font-family: 'Permanent Marker';
  color: #ff4500;
  font-size: 15px;
  font-weight: bold;
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #d6d4d5;
  transition: all .2s ease;
  letter-spacing: .025em;
  transition: all 0.2s ease-in-out;
  
}  
   
button:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #d6d4d5;
}
button:active {
  box-shadow: inset 1px 1px 2px #d6d4d5, inset -1px -1px 2px #fff;
}
button.red {
  font-family: 'Permanent Marker';
  display: block;
  width: 100%;
  color: #ff4500;
}

button, input {
  border: 0;
  outline: 0;
  font-size: 20px;
  border-radius: 50px;
  padding: 16px;
  background-color:#f0eeef;
  text-shadow: 1px 1px 0 #FFF;
}
.title{
  width: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
}
.title span{
  font-size: 50px;
  font-family: 'Londrina Shadow', cursive;
}
.organic-radious{
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
}
/* ================== */



/* ---jumbotron  */
.jumbotron{
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
.jumbotron-sg{
  width: 20%;
  font-size: 60px;
  padding: 30px;
  margin-top: 100px;
  margin-left: 130px;
  border: 1px solid red;
}

.jumbotron-bg{
  width: 1000px;
  height: 600px;
  background: url(../img/coach/coach-cover.jpg);
  background-size: contain;
  clip-path: polygon(50% 0%, 100% 0, 100% 83%, 26% 100%, 0 0);
  background-repeat: no-repeat;
  background-position: right;
}
/* ---coach */

html {
  overflow: hidden;
  height: 100%
}

body {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.wrapper{
  width: 100%;
}

.coach{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.coach-dec img{
 width:100%; 
 transform: translateZ(-0.9px);
}
.coach-dec1 img{
  width: 100%;
  transform: translateZ(-1px);
}
.coach-dec2 img{
  transform: translateZ(-3px);
}


.item{
	display: flex;
  flex-wrap: wrap;
	align-items: center;
	margin-bottom: 70px;
	font-family: 'Noto Sans TC', sans-serif;
  
}
.item .coach-des{
  z-index:9;
  padding: 20px; 
}
.item .name{ 
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
	margin-bottom: 1em;
}
.item .coach-des p{
  font-family:'Permanent Marker';
  font-size: 30px;
  color: #ff4500;
  line-height: 1.6;
} 

.item .pic{
  height: 100%;
  z-index: 1;
	flex-shrink: 0;
  border: .0625rem solid #bebebeb2;
 border-radius: .55rem;
 box-shadow: 6px 6px 20px #bebebe,-6px -6px 12px #FFF;
}
.item .pic img{
	width: 100%;
	vertical-align: middle;
}
.item .txt,.txt-l{
	flex-shrink: 0;
	padding: 50px 30px;
	z-index:9;
}
.item .txt,.txt-l p{
  font-family:'Permanent Marker';
  font-size: 20px;
}
.item > :first-child{
	margin-right: -10%;
}
.item .txt{
  background-color: rgb(240, 228, 191);
}
.item .txt-l{
 background-color: rgb(241, 172, 81);
}

/* ---Footer */
footer{
  width: 100%;
  height: 70px;
  background-color: #000;
  display: block;
}
.footer .logo{
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 64px;
  background-image: url('../img/common/logo1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer .footer-group{
  float: right;
}
.footer .footer-group .footer-item{
  float: left;
}
.footer .footer-group .footer-link{
  display: block;
  line-height: 20px;
  padding: 10px;
}
.footer .footer-group .footer-link img{
  width: 50px;
  height: 40%;
}

/* RWD */
@media screen and (max-width: 768px){
  .jumbotron{
    display: flex;
    justify-content: center;
  }
  .jumbotron-sg{
    width: 100%;
    margin: 0 auto;
  }
  .jumbotron-bg{
    display: none;
  }
}