/* 
Copyright2021
Author */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  list-style: none;
}
html,body{
  font-family: '微軟正黑體';
}
a{
  text-decoration: none;
}
h1,h2,span{
  font-family: 'Permanent Marker', cursive, '微軟正黑體';
}
/* layout 通用設定 */
.container{
  width: 1200px;
  margin: 0 auto;
  /* background-color: #EBECF0; */
}
.wrap{
  background-color: #EBECF0;
}

/* component */

/* 按鈕 */
.btn-group-center{
  display: flex;
  justify-content: center;
}
.btn-lg{
  display: inline-block;
  font-size: 35px;
  text-shadow: 1px 1px 0 hsl(46, 98%, 62%);
  background-color: hsl(24, 100%, 50%);
  color:#ffff00;
  font-weight: 800;
  /* border: 3px solid #fff; */
  box-shadow: -5px -5px 10px #ff7f50,  5px 5px 10px #b22222;
  border-radius: 25px;
  padding: 15px;
  transition: all 0.3s;
}
.btn-lg:hover{
  text-shadow: 1px 1px 0 #f77a05;
  background-color: hsl(12, 100%, 50%);
  color: hsl(49, 87%, 55%);
  font-size: 32px;
  box-shadow: -2px -2px 5px #b22222, 2px 2px 5px #ff7f50;
  cursor: pointer;
}
/* navbar */
header{
  position: fixed;
  z-index: 10;
   width: 100%;
}
.navbar{
  display: block;
  /* border: 1px solid #000; */
 
  height: 64px;
  background-color: rgba(0, 0, 0, 0.8);
  
}
.navbar .logo{
  /* border: 1px solid #fff; */
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 64px;
  background-image: url('../img/common/logo1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar .nav{
  float: right;
}
.navbar .nav .nav-item{
  float: left;
}
/* .navbar .nav .nav-item:nth-child(1){
  border: 1px solid #fff;
  color: red;
} */
.navbar .nav .nav-link{
  display: block;
  color: #fff;
  line-height: 20px;
  padding: 20px;
  
}
.navbar .nav .nav-link:hover{
  color: #ff4500;
}

/* ----jumbotron */
.jumbotron{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.jumbotron .jumbotron-slogan {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  justify-content: center;
  display: flex;
  width: 100%;

}
.jumbotron .jumbotron-slogan h1{
  font-family: 'Permanent Marker', cursive;
  color: #000;
  font-size: 100px;
}

/* ----hero */
.hero{
  width: 1200px;
  height: 600px;
  margin: auto;
  margin-bottom: 50px;
  background:
  linear-gradient(115deg, #EBECF0 50%, transparent 50%) center center /
  100% 100%,
  url("./img/index/pexels-photo-4754139.jpeg") right center / auto 100%;
  background-size: contain;
  background-repeat: no-repeat;
  
}
.hero-txt{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-txt h1{
  display: block;
	font-size: 100px;
	font-weight: 700;
  
}
.hero-txt h1 small{
  display: block;
	font-size: 80px;
	font-weight: 700;
}
.hero-txt p{
  color:#ff4500;
  font-size: 20px;
}

/* ----title */
.title-container{
  display:flex;
  align-items:center;
  justify-content:center;
  width: 100%;
  margin-bottom: 50px;
}
.title-container .title span{
  display: block;
  position: relative;
  font-family: 'Permanent Marker', '微軟正黑體';
  font-size: 50px;
}
.title-container .title  span:before,
.title-container .title
span:after {
  content:'';
  position: absolute;
  top: 50%;
  width: 600px;
  height: 2px;
  background: #ff4500;
  flex-grow: 1;
}
.title span:before {
  left: 100%; 
}
.title span:after {
  right: 100%;
}
.title-coach{
  margin-top: 50px;
}

/* -----row----- */
.row{
  display: flex;
  width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap;
  
}
.col-1-3{
  width: 33.33333%;
  padding: 0 10px;
  
}

.row .col-1-3 .lesson-item{
  box-shadow: 3px 4px rgb(0,0,3,10%);
    /* border: 1px solid blue; */

}

.row .col-1-3 .lesson-item{
  text-align: left;
}
.row .col-1-3 .lesson-item .lesson-img{
  width: 100%;
  height: 100%;
  object-fit: cover

}
.row .col-1-3 .lesson-item .lesson-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row .col-1-3 .lesson-item span{
  position: absolute;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  left: 20px;
  bottom: 90px;
  z-index: 1;
}
.row .col-1-3 .lesson-item span:hover{
  position: absolute;
  color: #ff4500;
  font-size: 50px;
  line-height: 50px;
  left: 20px;
  bottom: 100px;
}

.row .col-1-3 .lesson-txt{
  position: relative;
  width: 100%;
  height: 80px;
  /* border: 1px solid #ff4500; */
  text-align: center;
  line-height: 20px;
  font-size: 20px;
}
/* .row .col-1-3 .lesson-txt:hover{
  position: relative;
  width: 100%;
  height: 100px;
} */

/* join us */
.joinus-bg{
  width: 100%;
  height: 250px;
  background-color: #ff4500;
  transform: skewY(-2deg);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
}

.joinus-bg .bg-pic{
  width: 280px;
  height: 400px;
  background: url(./img/index/—Pngtree—ink\ and\ watercolor\ boxer_5909286.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
}
.joinus-sg{
  display: block;
  width: 1200px;
  height: 50%;
  font-size: 70px;
  /* border: 1px solid #000; */
}

.joinus-title-l{
  font-size:80px;
  padding-top: 10px;
  padding-left: 100px;
}

.joinus-title-r{
  
  padding-left: 80px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.joinus-title-r span{
  font-size:100px;
  margin: 0 50px;
  color: #ffff00;
  /* border: 1px solid #fff; */
}

/* Coach */
.row .coach-title{
  width: 100%;
  display: block;
}
 
.row .coach-title h2{
  font-size: 50px;
}
 
/* ---About us */
.about-row{
  padding: 10px;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}
.about-sg span{
font-size: 50px;
}
.about-sg .about-bg{ 
 background-color: #ff4500;
 width: 40%;
 height: 50%;
 transform: translate(-40px, 70px);
 
}
.about-sg .about-bg .about-txt{
  width: 20em;
  transform: translate(40px, 10px);
}
.col-1-2{
  display: flex;
  width: 50%;
  height: 300px;
 
}
.about-pic{
  padding-left: 20px;
}
.item2{
  height: 100%;
  background-color: #ffa;
  background: url(./img/index/gloves.jpeg);
  background-size: contain;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.item3{
  height: 100%;
  background-color: #ffa;
  background: url(./img/index/bandage.jpeg);
  background-size: contain;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.item4{
  height: 100%;
  background-color: #ffa;
  background: url(./img/index/sandbag.jpeg);
  background-size: contain;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/* ---footer */
.footer{
  width: 100%;
  background-color: #000;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-icon{
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
}